.line-wrapper, .line {
    position: absolute;
    cursor: pointer;
    user-select: text;
}
.line {
    width: 100%;
    height: 100%;
}

.line_mark {
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    opacity: 0.3;
    background-image: url('~/assets/images/line/mark-center.png');
    background-size: 100% 100%;
    background-clip: content-box;
    background-repeat: repeat-x;
}

.line_mark::before, .line_mark::after {
    position: absolute;
    content: "";
    height: 100%;
    background-size: 100% 100%;
}
.line_mark::before {
    left: 0;
    width: 14px;
    background-image: url('~/assets/images/line/mark-start.png');
}
.line_mark::after {
    right: 0;
    width: 14px;
    background-image: url('~/assets/images/line/mark-end.png');
}
.line_straight, .line_wave {
    transform: translateY(2px);
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}
.line_straight .line_straight_item{
    height: 4px;
    display: inline-block;
    background-size: 100% 100%;
}
.line_straight .line_straight_start,
.line_straight .line_straight_end {
    max-width: 15px;
    flex: 1;
}
.line_straight .line_straight_start {
    background-image: url('~/assets/images/line/straight-start.png');
}
.line_straight .line_straight_center {
    flex: 6.67;
    background-image: url('~/assets/images/line/straight-center.png');
}
.line_straight .line_straight_end {
    background-image: url('~/assets/images/line/straight-end.png');
}
.line_wave {
    transform: translateY(3px);
}
.line_wave .line_wave_item {
    height: 7px;
    display: inline-block;
    background-size: 100% 100%;
}
.line_wave .line_wave_start_1 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-start-1.png');
}
.line_wave .line_wave_start_2 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-start-2.png');
}
.line_wave .line_wave_start_3 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-start-3.png');
}
.line_wave .line_wave_start_4 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-start-4.png');
}
.line_wave .line_wave_start_5 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-start-5.png');
}
.line_wave .line_wave_center_1 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-1.png');
}
.line_wave .line_wave_center_2 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-2.png');
}
.line_wave .line_wave_center_3 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-3.png');
}
.line_wave .line_wave_center_4 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-4.png');
}
.line_wave .line_wave_center_5 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-5.png');
}
.line_wave .line_wave_center_6 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-6.png');
}
.line_wave .line_wave_center_7 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-7.png');
}
.line_wave .line_wave_center_8 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-8.png');
}
.line_wave .line_wave_center_9 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-9.png');
}
.line_wave .line_wave_center_10 {
    flex: 3.2;
    background-image: url('~/assets/images/line/wave-center-10.png');
}
.line_wave .line_wave_end_1 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-end-1.png');
}
.line_wave .line_wave_end_2 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-end-2.png');
}
.line_wave .line_wave_end_3 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-end-3.png');
}
.line_wave .line_wave_end_4 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-end-4.png');
}
.line_wave .line_wave_end_5 {
    flex: 1;
    background-image: url('~/assets/images/line/wave-end-5.png');
}

.line_color_red .line_mark {
    filter: hue-rotate(300deg);
}
.line_color_purple .line_mark {
    filter: hue-rotate(215deg);
}
.line_color_blue .line_mark {
    filter: hue-rotate(170deg);
}
.line_color_green .line_mark {
    filter: hue-rotate(69deg);
}
.line_color_purple .line_straight {
    filter: hue-rotate(260deg);
}
.line_color_blue .line_straight {
    filter: hue-rotate(225deg);
}
.line_color_green .line_straight {
    filter: hue-rotate(110deg);
}
.line_color_amber .line_straight {
    filter: hue-rotate(40deg) brightness(1.3);
}
.line_color_red .line_wave {
    filter: hue-rotate(120deg);
}
.line_color_purple .line_wave {
    filter: hue-rotate(45deg);
}
.line_color_green .line_wave {
    filter: hue-rotate(240deg);
}
.line_color_amber .line_wave {
    filter: hue-rotate(150deg) brightness(2.2);
}